@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  background-image: url("../images/sun-pattern.png");
}

.content {
  max-width: 600px;
  margin: auto;
  line-height: 2.3em;
  padding-top: 60px;
  padding-bottom: 100px;
}

.navigation {
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
}

h1, h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  text-decoration: underline;
}

.active {
  background-color: orange;
}
